header{
    height: 80px;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ededed;
    height: 100%;
  }
  
  li {
    display: inline-block;
    text-align: center;
  }
  
  li a {
    display: inline-block;
    font-size: 18px;
    display: inline;
    color: #4a4a4a;
    text-align: center;
    padding: 24px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #ea7f28;
  }
  
  /* .active {
    background-color: #4CAF50;
  } */
