/* .list{
    display: flex;
    border: 1px solid #ededed;
    margin: 12px;
}

.listContent{
    display: inline-block;
}

.product-icon{
    height: 100px;
    width: 100px;
    padding: 18px;
    background-color: #4d4d4d;
} */