header{
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid #ededed;
    /* background-color: #ededed; */
    color: #4a4a4a;
}

.fill-remaining-space {
  flex: auto;
}

.logo{
  display: inline-block;
  height: 40px;
  width: 200px;
  padding: 24px;
}

ul {
    list-style-type: none;
    display: contents;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
  }
  
  li {
    display: inline-block;
    text-align: center;
  }
  
  li a {
    display: inline-block;
    font-size: 18px;
    display: inline;
    color: #4a4a4a;
    text-align: center;
    padding: 24px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #ea7f28;
    color: #ededed;
  }
  
  /* .active {
    background-color: #4CAF50;
  } */
