.default-btn{
    text-decoration: none;
    border: none;
    float: right;
    font-size: 18px;
    width: 110px;
    height: 32px;
    margin: 18px;
    font-family: Roboto;
    background-color: #ea7f28;
    border-radius: 4px;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    /* transition: all 0.5s; */
    cursor: pointer;
}

.default-btn:active, .default-btn:focus{
    outline:0;
    background-color: #d37324;
}