@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
html {
  position: relative;
  min-height: 100%;
}

*{
  font-family: 'Roboto Regular', sans-serif;
  /* color: #4a4a4a; */
  /* font-size: 18px; */
}
.main {
  width: 100%;
  display: flex;
  /* flex-direction: row;*/
  justify-content: center; 
}
/* .content:after {
  content: "";
  display: table;
  clear: both;
  margin: 20px;
} */
.filter-wrapper {
  width: 20%;
  color: #4a4a4a;
  /* display: flex;
  flex-direction: column; */
  padding: 24px;
  height: fit-content;
  border: 1px solid #ededed;
  margin-right: 12px;
}
.list-wrapper {
  width: 80%;
  margin: 0 0 48px 12px;
  color: #4a4a4a;
  /* margin-left: 12px; */
  /* display: flex; */
  /* flex-direction: column; */
  /* padding: 10px; */
  /* margin: 20px; */
}
