.list{
    display: flex;
    border: 1px solid #ededed;
    margin: 12px;
    align-items: center;
}

.list-header h3{
    margin: 0 12px 24px;
}
.list-header p{
    margin: 0 12px 24px;
}

.listContent{
    display: inline-block;
    margin-left: 12px;
}

.product-icon{
    margin: 12px;
    height: 80px;
    width: 80px;
}
